[submodule "external/rsp-cegis"]
	path = external/rsp-cegis
	url = https://github.com/tobybenjaminclark/rsp-cegis.git
[submodule "rsp-cegis"]
	path = rsp-cegis
	url = https://github.com/tobybenjaminclark/rsp-cegis.git
[submodule "rsp-synth"]
	path = rsp-synth
	url = https://github.com/tobybenjaminclark/rsp-synth.git
[submodule "rsp-cegar"]
	path = rsp-cegar
	url = https://github.com/tobybenjaminclark/rsp-cegar.git
[submodule "rsp-sygus"]
	path = rsp-sygus
	url = https://github.com/tobybenjaminclark/rsp-sygus.git
[submodule "rsp-smt"]
	path = rsp-smt
	url = https://github.com/tobybenjaminclark/rsp-smt
